        <footer class="footer-wrapper">
            <div class="footer-container container">
                <div class="footer-column three columns" id="footer-widget-1">
                    <div id="text-5" class="widget widget_text greennature-item greennature-widget">
                        <div class="textwidget">
                            <p><img src="{{ baseImg() }}logotipo_bionat_rodape.png" style="width: 170px;" alt="" /></p>
                             
                        </div>
                    </div>
                </div>
                <div class="footer-column three columns" id="footer-widget-2">
                    <div id="text-9" class="widget widget_text greennature-item greennature-widget">
                        <h3 class="greennature-widget-title">Quem somos</h3>
                        <div class="clear"></div>
                        <div class="textwidget"><span class="clear"></span><span class="greennature-space" style="margin-top: -6px; display: block;"></span> 
                        <p>A Bionat é uma fábrica de defensivos biológicos com parceiras com o Instituto Biológico de Campinas, Embrapa Recursos Genéticos e Biotecnologia (Cenargem) e a Empresa Brasileira de Pesquisa e Inovação Industrial (Embrapa).</p>
                        </div>
                    </div>
                </div>






                <div class="footer-column three columns" id="footer-widget-3">
                    <div id="text-9" class="widget widget_text greennature-item greennature-widget">
                        <h3 class="greennature-widget-title">Endereço</h3>
                        <div class="clear"></div>
                        <div class="textwidget"><span class="clear"></span><span class="greennature-space" style="margin-top: -6px; display: block;"></span>
                        Rod. Assis Chateaubriand, s/n <br>
                        Km 144 + 500m Conj. 02 </br>
                        Zona Rural - CEP 15400 000 <br>
                        Olímpia/SP

                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>
                            
                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>
                            <p style="display:none;"><i class="greennature-icon fa fa-envelope-o" style="vertical-align: middle; color: #fff; font-size: 16px; "></i>  contato@bionatagro.com</p></div>
                    </div>
                </div>
                

                <div class="footer-column three columns" id="footer-widget-3">
                    <div id="text-9" class="widget widget_text greennature-item greennature-widget">
                        <h3 class="greennature-widget-title">Contato</h3>
                        <div class="clear"></div>
                        <div class="textwidget"><span class="clear"></span><span class="greennature-space" style="margin-top: -6px; display: block;"></span>

                            <i class="greennature-icon fa fa-phone" style="vertical-align: middle; color: #fff; font-size: 16px; "></i>  +55 17 3279-4950
                            <span class="clear"></span><span class="greennature-space" style="margin-top: 10px; display: block;"></span>
                            <i class="greennature-icon fa fa-envelope-o" style="vertical-align: middle; color: #fff; font-size: 16px; "></i>  contato@bionatagro.com</div>
                            <div style="margin-top: 15px;">
                        <a href="http://facebook.com/goodlayers"><i class="greennature-icon fa fa-facebook" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="http://twitter.com/goodlayers"><i class="greennature-icon fa fa-twitter" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i class="greennature-icon fa fa-dribbble" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i class="greennature-icon fa fa-pinterest" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i class="greennature-icon fa fa-google-plus" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a href="#"><i class="greennature-icon fa fa-instagram" style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a>
                    </div>
                    </div>
                </div>


                <div class="clear"></div>
            </div>

            <div class="copyright-wrapper">
                <div class="copyright-container container">
                    <div class="copyright-left">
                        Copyright 2019 Bionat, Todos os direiros reservados 
                    </div>
                    <div class="copyright-right">
                        Desenvolvido por <a href="http://agencialed.com.br/">LED Digital</a> 
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </footer>