{% extends 'layout/default.twig' %}

{% block title %}
    {{ _title }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="greennature-page-title-wrapper header-style-5-title-wrapper" style="background-image:url('{{ baseImg() }}page-title-background.jpg')">
    <div class="greennature-page-title-overlay"></div>
    <div class="greennature-page-title-container container">
        <h1 class="greennature-page-title">Biblionat</h1>
    </div>
</div>
<!-- is search -->
<div class="content-wrapper">
    <div class="greennature-content">

        <!-- Above Sidebar Section-->
        <div class="above-sidebar-wrapper">
            <section id="content-section-1" style="background: #fff;">
                <div class="section-container container">
                    <div class="eight columns">
                        <div class="greennature-item greennature-accordion-item style-1" style="margin-bottom: 60px;">
                            <div class="accordion-tab active pre-active">
                                <h4 class="accordion-title"><i class="icon-minus" ></i><span>Bibendum Porta Fermentum?</span></h4>
                                <div class="accordion-content">
                                    <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                    <ul>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                        <li>Etiam porta sem malesuada magna mollis euismod.</li>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                    </ul>
                                    <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <a class="greennature-button small" href="http://themeforest.net/user/GoodLayers" target="_self" style="color:#ffffff; background-color:#f38142; ">Learn More</a>
                                </div>
                            </div>
                            <div class="accordion-tab">
                                <h4 class="accordion-title"><i class="icon-plus" ></i><span>Quam Elit Malesuada Magna?</span></h4>
                                <div class="accordion-content">
                                    <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                    <ul>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                        <li>Etiam porta sem malesuada magna mollis euismod.</li>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                    </ul>
                                    <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <a class="greennature-button small" href="http://themeforest.net/user/GoodLayers" target="_self" style="color:#ffffff; background-color:#f38142; ">Learn More</a>
                                </div>
                            </div>
                            <div class="accordion-tab">
                                <h4 class="accordion-title"><i class="icon-plus" ></i><span>Praesent commodo cursus magna, vel scelerisque nisl consectetur et?</span></h4>
                                <div class="accordion-content">
                                    <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                    <ul>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                        <li>Etiam porta sem malesuada magna mollis euismod.</li>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                    </ul>
                                    <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <a class="greennature-button small" href="http://themeforest.net/user/GoodLayers" target="_self" style="color:#ffffff; background-color:#f38142; ">Learn More</a>
                                </div>
                            </div>
                            <div class="accordion-tab">
                                <h4 class="accordion-title"><i class="icon-plus" ></i><span>Sem Purus Bibendum Pharetra?</span></h4>
                                <div class="accordion-content">
                                    <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                    <ul>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                        <li>Etiam porta sem malesuada magna mollis euismod.</li>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                    </ul>
                                    <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <a class="greennature-button small" href="http://themeforest.net/user/GoodLayers" target="_self" style="color:#ffffff; background-color:#f38142; ">Learn More</a>
                                </div>
                            </div>
                            <div class="accordion-tab">
                                <h4 class="accordion-title"><i class="icon-plus" ></i><span>Praesent commodo cursus magna, vel scelerisque nisl consectetur et?</span></h4>
                                <div class="accordion-content">
                                    <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                    <ul>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                        <li>Etiam porta sem malesuada magna mollis euismod.</li>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                    </ul>
                                    <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <a class="greennature-button small" href="http://themeforest.net/user/GoodLayers" target="_self" style="color:#ffffff; background-color:#f38142; ">Learn More</a>
                                </div>
                            </div>
                            <div class="accordion-tab">
                                <h4 class="accordion-title"><i class="icon-plus" ></i><span>Sollicitudin Fermentum Risus Commodo Nibh?</span></h4>
                                <div class="accordion-content">
                                    <p>Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                                    <ul>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                        <li>Etiam porta sem malesuada magna mollis euismod.</li>
                                        <li>Aenean lacinia bibendum nulla sed consectetur.</li>
                                        <li>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</li>
                                    </ul>
                                    <p>Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                    <a class="greennature-button small" href="http://themeforest.net/user/GoodLayers" target="_self" style="color:#ffffff; background-color:#f38142; ">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four columns">
                        <div class="greennature-item-title-wrapper greennature-item  greennature-left greennature-small ">
                            <div class="greennature-item-title-container container">
                                <div class="greennature-item-title-head">
                                    <h3 class="greennature-item-title greennature-skin-title greennature-skin-border">Não encontrou sua resposta? Pergunta pra gente.</h3>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="greennature-item greennature-content-item">
                            <div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="pt-BR" dir="ltr">
                                <div class="screen-reader-response"></div>
                                <form action="#" method="post" class="wpcf7-form" novalidate="novalidate">
         
                                    <p>Seu nome (obrigatório)
                                        <br />
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span> </p>
                                    <p>E-mail (obrigatório)
                                        <br />
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span> </p>
                                    <p>Assunto
                                        <br />
                                        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span> </p>
                                    <p>Sua mensagem
                                        <br />
                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </p>
                                    <p>
                                        <input type="submit" value="Enviar" class="wpcf7-form-control wpcf7-submit" />
                                    </p>
                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
        </div>

        <!-- Sidebar With Content Section-->

        <!-- Below Sidebar Section-->

    </div>
    <!-- greennature-content -->
    <div class="clear"></div>
</div>
<!-- content wrapper -->


{% endblock %}


{% block jsBottom %}
    {{ parent() }}
{% endblock %}