{% extends 'layout/default.twig' %}

{% block title %}
    {{ _title }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="greennature-page-title-wrapper header-style-5-title-wrapper" style="background-image: url({{ baseImg() }}page-title-background.jpg)">
            <div class="greennature-page-title-overlay"></div>
            <div class="greennature-page-title-container container">
                <h1 class="greennature-page-title">Bio-forças</h1>
                <span class="greennature-page-caption">Caption placed here</span>
            </div>
        </div>
        <!-- is search -->
        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->

               

                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                
                    <section id="content-section-1">
                        <div class="section-container container">
                            <div class="portfolio-item-wrapper type-classic-portfolio-no-space">
                                <div class="portfolio-item-holder greennature-item-no-space greennature-portfolio-column-4">

                                <div class="text-wrapper" style="margin-bottom: 65px;">
                                 <p style="font-size: 18px;margin-bottom:35px;">Por biocontrole ou controle biológico entende-se o uso de soluções que ocorrem naturalmente ou 
                                 de organismos benéficos para prevenir, reduzir ou erradicar a infestação de pragas e doenças nas 
                                 plantações. No caso dos organismos busca-se atrair ou introduzir na plantação inimigos naturais da 
                                 praga ou doença; podem ser usados insetos, vírus, protozoários, fungos ou bactérias como predadores, 
                                 parasitas, agentes patogênicos; ou introduzir machos da espécie daninha esterilizados. Algumas vantagens 
                                 estão relacionadas com a redução de acidentes ambientais e segurança pública provocados pelo uso de 
                                 agrotóxicos, como alternativa econômica para certos inseticidas, na prevenção de perdas econômicas de 
                                 plantações, menor impacto ambiental e na qualidade da água. </p>
                                    
                                    <h5 style="text-transform:uppercase;color:#5dc269">Linha Bioinseticidas</h5>

                                    <p style="font-size: 18px;">O  <b>Bovenat</b> e o <b>Metarihzonat</b>  são bioinseticidas da Bionat recomendados para o controle de mosca-branca e 
                                    cigarrinha em diferentes culturas. Sua formulação é eficiente no controle das pragas. Saiba mais clicando nos produtos abaixo. </p>
                                    
                                    </div>
                                    </div>

                                    <div class="greennature-isotope" data-type="portfolio" data-layout="fitRows">
                                        <div class="six columns">
                                            <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                <div class="greennature-ux greennature-classic-portfolio-ux">
                                                    <div class="portfolio-thumbnail greennature-image"><img src="{{ baseImg() }}bovenat_produto.png" alt="" width="440" height="550" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="upload/shutterstock_161515241.jpg" data-rel="fancybox"><span class="portfolio-icon" ><i class="fa fa-search" ></i></span></a></div>
                                                    <div class="portfolio-classic-content">
                                                        <h3 class="portfolio-title">Bovenat</h3>
                                                        <div class="greennature-portfolio-info">
                                                            
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div class="portfolio-excerpt">

                                                            <table>
                                                                <thead>
                                                                    <th>TESTE</th>
                                                                    <th>TESTE</th>
                                                                    <th>TESTE</th>
                                                                </thead>
                                                              
                                                            </table>




                                                        <div class="clear"></div>
                                                            <a href="../portfolio/wind-energy/index.html" class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more" href="../portfolio/wind-energy/index.html">Learn More</a></div>
                                                        </div>
                                            </div>
                                        </div>
                                        <div class="six columns">
                                            <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                <div class="greennature-ux greennature-classic-portfolio-ux">
                                                    <div class="portfolio-thumbnail greennature-image"><img src="{{ baseImg() }}metarhizonat_produto.png" alt="" width="440" height="550" /><span class="portfolio-overlay">&nbsp;</span><a class="portfolio-overlay-icon" href="../portfolio/elephant-sanctuary/index.html"><span class="portfolio-icon" ><i class="fa fa-link" ></i></span></a></div>
                                                    <div class="portfolio-classic-content">
                                                        <h3 class="portfolio-title">Metarihzonat</h3>
                                                        <div class="greennature-portfolio-info">
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div class="portfolio-excerpt">

                                                        <table>
                                                                <thead>
                                                                    <th>TESTE</th>
                                                                    <th>TESTE</th>
                                                                    <th>TESTE</th>
                                                                </thead>
                                                              
                                                            </table>
                                                            <div class="clear"></div><a href="../portfolio/elephant-sanctuary/index.html" class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more" href="../portfolio/elephant-sanctuary/index.html">Learn More</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </section>
                </div>
                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>
        <!-- content wrapper -->



{% endblock %}


{% block jsBottom %}
    {{ parent() }}
{% endblock %}