 
 
{% extends 'layout/default.twig' %}

{% block title %}
    {{ _title }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}



 
 <div class="greennature-page-title-wrapper header-style-5-title-wrapper" style="background-image: url({{ baseImg() }}page-title-background.jpg)">
            <div class="greennature-page-title-overlay"></div>
            <div class="greennature-page-title-container container">
                <h1 class="greennature-page-title">Bionews</h1>
                <span class="greennature-page-caption">Caption placed here</span>
            </div>
        </div>
        <!-- is search -->
        <div class="content-wrapper">
            <div class="greennature-content">

                <!-- Above Sidebar Section-->

                <!-- Sidebar With Content Section-->
                <div class="with-sidebar-wrapper">
                    <div class="with-sidebar-container container">
                        <div class="with-sidebar-left twelve columns">
                            <div class="with-sidebar-content twelve columns">
                                <section id="content-section-1">
                                    <div class="section-container container">
                                        <div class="blog-item-wrapper">
                                            <div class="blog-item-holder">
                                                <div class="greennature-isotope" data-type="blog" data-layout="fitRows">
                                                    <div class="clear"></div>
                                                    <div class="four columns">
                                                        <div class="greennature-item greennature-blog-grid greennature-skin-box">
                                                            <div class="greennature-ux greennature-blog-grid-ux">
                                                                <article id="post-852" class="post-852 post type-post status-publish format-standard has-post-thumbnail hentry category-fit-row tag-blog tag-life-style">
                                                                    <div class="greennature-standard-style">
                                                                        <div class="greennature-blog-thumbnail">
                                                                            <a href="{{ path_for('post') }}"> <img src="{{ baseImg() }}blog-post-img.jpg" alt="" width="400" height="300" /></a>
                                                                        </div>

                                                                        <div class="greennature-blog-grid-content">
                                                                            <header class="post-header">
                                                                                <h3 class="greennature-blog-title"><a href="{{ path_for('post') }}">Donec luctus imperdiet</a></h3>

                                                                                <div class="greennature-blog-info">
                                                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href=".{{ path_for('post') }}">11 Dec 2013</a></div>
                                                                                    <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="{{ path_for('post') }}">2 <span class="greennature-tail" >Comments</span></a></div>
                                                                                    <div class="clear"></div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </header>
                                                                            <!-- entry-header -->

                                                                            <div class="greennature-blog-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....
                                                                                <div class="clear"></div><a href="{{ path_for('post') }}" class="excerpt-read-more">Leia mais</a></div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                                <!-- #post -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="four columns">
                                                        <div class="greennature-item greennature-blog-grid greennature-skin-box">
                                                            <div class="greennature-ux greennature-blog-grid-ux">
                                                                <article id="post-862" class="post-862 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-link tag-news">
                                                                    <div class="greennature-standard-style">
                                                                        <div class="greennature-blog-thumbnail">
                                                                            <a href="{{ path_for('post') }}"> <img src="{{ baseImg() }}blog-post-img.jpg" alt="" width="400" height="300" /></a>
                                                                        </div>

                                                                        <div class="greennature-blog-grid-content">
                                                                            <header class="post-header">
                                                                                <h3 class="greennature-blog-title"><a href="{{ path_for('post') }}">Magna pars studiorum</a></h3>

                                                                                <div class="greennature-blog-info">
                                                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="{{ path_for('post') }}">09 Dec 2013</a></div>
                                                                                    <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="{{ path_for('post') }}">2 <span class="greennature-tail" >Comments</span></a></div>
                                                                                    <div class="clear"></div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </header>
                                                                            <!-- entry-header -->

                                                                            <div class="greennature-blog-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....
                                                                                <div class="clear"></div><a href="{{ path_for('post') }}" class="excerpt-read-more">Leia mais</a></div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                                <!-- #post -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="four columns">
                                                        <div class="greennature-item greennature-blog-grid greennature-skin-box">
                                                            <div class="greennature-ux greennature-blog-grid-ux">
                                                                <article id="post-859" class="post-859 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-life-stlyle">
                                                                    <div class="greennature-standard-style">
                                                                        <div class="greennature-blog-thumbnail">
                                                                            <a href="{{ path_for('post') }}"> <img src="{{ baseImg() }}blog-post-img.jpg" alt="" width="400" height="300" /></a>
                                                                        </div>

                                                                        <div class="greennature-blog-grid-content">
                                                                            <header class="post-header">
                                                                                <h3 class="greennature-blog-title"><a href="{{ path_for('post') }}">Sedial eiusmod tempor</a></h3>

                                                                                <div class="greennature-blog-info">
                                                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="{{ path_for('post') }}">04 Dec 2013</a></div>
                                                                                    <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="{{ path_for('post') }}">0 <span class="greennature-tail" >Comment</span></a></div>
                                                                                    <div class="clear"></div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </header>
                                                                            <!-- entry-header -->

                                                                            <div class="greennature-blog-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....
                                                                                <div class="clear"></div><a href="{{ path_for('post') }}" class="excerpt-read-more">Leia mais</a></div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                                <!-- #post -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="four columns">
                                                        <div class="greennature-item greennature-blog-grid greennature-skin-box">
                                                            <div class="greennature-ux greennature-blog-grid-ux">
                                                                <article id="post-858" class="post-858 post type-post status-publish format-standard has-post-thumbnail hentry category-fit-row category-life-style tag-animal tag-safari">
                                                                    <div class="greennature-standard-style">
                                                                        <div class="greennature-blog-thumbnail">
                                                                            <a href="{{ path_for('post') }}"> <img src="{{ baseImg() }}blog-post-img.jpg" alt="" width="400" height="300" /></a>
                                                                        </div>

                                                                        <div class="greennature-blog-grid-content">
                                                                            <header class="post-header">
                                                                                <h3 class="greennature-blog-title"><a href="{{ path_for('post') }}">Eiusmod tempor incidunt</a></h3>

                                                                                <div class="greennature-blog-info">
                                                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="{{ path_for('post') }}">03 Dec 2013</a></div>
                                                                                    <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="{{ path_for('post') }}">3 <span class="greennature-tail" >Comments</span></a></div>
                                                                                    <div class="clear"></div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </header>
                                                                            <!-- entry-header -->

                                                                            <div class="greennature-blog-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....
                                                                                <div class="clear"></div><a href="{{ path_for('post') }}" class="excerpt-read-more">Leia mais</a></div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                                <!-- #post -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="four columns">
                                                        <div class="greennature-item greennature-blog-grid greennature-skin-box">
                                                            <div class="greennature-ux greennature-blog-grid-ux">
                                                                <article id="post-43" class="post-43 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row category-life-style tag-blog tag-life-style tag-news">
                                                                    <div class="greennature-standard-style">
                                                                        <div class="greennature-blog-thumbnail">
                                                                            <a href="{{ path_for('post') }}"> <img src="{{ baseImg() }}blog-post-img.jpg" alt="" width="400" height="300" /></a>
                                                                        </div>

                                                                        <div class="greennature-blog-grid-content">
                                                                            <header class="post-header">
                                                                                <h3 class="greennature-blog-title"><a href="{{ path_for('post') }}">Standard Post Format Title</a></h3>

                                                                                <div class="greennature-blog-info">
                                                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="{{ path_for('post') }}">10 Nov 2013</a></div>
                                                                                    <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="../2013/11/10/standard-post-format-title/index.html#respond">1 <span class="greennature-tail" >Comment</span></a></div>
                                                                                    <div class="clear"></div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </header>
                                                                            <!-- entry-header -->

                                                                            <div class="greennature-blog-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....
                                                                                <div class="clear"></div><a href="{{ path_for('post') }}" class="excerpt-read-more">Leia mais</a></div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                                <!-- #post -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="four columns">
                                                        <div class="greennature-item greennature-blog-grid greennature-skin-box">
                                                            <div class="greennature-ux greennature-blog-grid-ux">
                                                                <article id="post-876" class="post-876 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-fit-row tag-blog tag-business tag-identity-2 tag-life-style">
                                                                    <div class="greennature-standard-style">
                                                                        <div class="greennature-blog-thumbnail">
                                                                            <a href="{{ path_for('post') }}"> <img src="{{ baseImg() }}blog-post-img.jpg" alt="" width="400" height="300" /></a>
                                                                        </div>

                                                                        <div class="greennature-blog-grid-content">
                                                                            <header class="post-header">
                                                                                <h3 class="greennature-blog-title"><a href="{{ path_for('post') }}">Diem certam indicere</a></h3>

                                                                                <div class="greennature-blog-info">
                                                                                    <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a href="{{ path_for('post') }}">03 Oct 2013</a></div>
                                                                                    <div class="blog-info blog-comment greennature-skin-info"><i class="fa fa-comment-o"></i><a href="../2013/10/03/diem-certam-indicere-2/index.html#respond">0 <span class="greennature-tail" >Comment</span></a></div>
                                                                                    <div class="clear"></div>
                                                                                </div>
                                                                                <div class="clear"></div>
                                                                            </header>
                                                                            <!-- entry-header -->

                                                                            <div class="greennature-blog-content">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Idque Caesaris facere voluntate liceret: sese habere....
                                                                                <div class="clear"></div><a href="{{ path_for('post') }}" class="excerpt-read-more">Leia mais</a></div>
                                                                        </div>
                                                                    </div>
                                                                </article>
                                                                <!-- #post -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="greennature-pagination"><span aria-current='page' class='page-numbers current'>1</span>
                                                <a class='page-numbers' href='page/2/index.html'>2</a>
                                                <a class="next page-numbers" href="page/2/index.html">Next &rsaquo;</a></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </section>
                            </div>

                            <div class="clear"></div>
                        </div>

                    </div>
                </div>

                <!-- Below Sidebar Section-->

            </div>
            <!-- greennature-content -->
            <div class="clear"></div>
        </div>
        <!-- content wrapper -->

{% endblock %}


{% block jsBottom %}
    {{ parent() }}
{% endblock %}