{% extends 'layout/default.twig' %}

{% block title %}
    {{ _title }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}



<div class="content-wrapper">
    <div class="greennature-content">

        <!-- Above Sidebar Section-->
        <div class="above-sidebar-wrapper">
            <section id="content-section-1">
                <div class="greennature-full-size-wrapper gdlr-show-all no-skin" style="padding-bottom: 0px;  background-color: #ffffff; ">
                    <div class="greennature-item greennature-content-item" style="margin-bottom: 0px;">
                        <iframe style="width:100%; height:480px; border:0" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d19905.696399556287!2d-0.3007084089960577!3d51.417531259591925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s2334+Peterson+Street+Kingston+UK+London+H14D!5e0!3m2!1sen!2s!4v1546697086219" width="600" height="450" ></iframe>
                        <div style="position: absolute;width: 80%;bottom: 20px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;">
                    </div>
                    <div class="clear"></div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </section>
        </div>

        <!-- Sidebar With Content Section-->
        <div class="with-sidebar-wrapper">
            <div class="with-sidebar-container container">
                <div class="with-sidebar-left eight columns">
                    <div class="with-sidebar-content twelve columns">
                        <section id="content-section-2">
                            <div class="section-container container">
                                <div class="greennature-item greennature-content-item" style="margin-bottom: 60px;"><span class="clear"></span><span class="greennature-space" style="margin-top: -22px; display: block;"></span>
                                    <h5 class="greennature-heading-shortcode " style="font-weight: bold;">Deixe sua mensagem, crítica ou sugestão que retornaremos assim que possível.  </h5>
                                    <p> <span class="clear"></span><span class="greennature-space" style="margin-top: 25px; display: block;"></span>
                                        <div role="form" class="wpcf7" id="wpcf7-f4-o1" lang="en-US" dir="ltr">
                                            <form class="quform" action="plugins/quform/process.php" method="post" enctype="multipart/form-data" onclick="">

                                                <div class="quform-elements">
                                                    <div class="quform-element">
                                                        <p>
                                                            <br>
                                                            <span class="wpcf7-form-control-wrap your-name">
                                                                <input id="name" type="text" name="nome" size="40" class="input1" aria-required="true" aria-invalid="false" placeholder="Nome*">
                                                            </span> 
                                                        </p>
                                                    </div>
                                                    <div class="quform-element">
                                                        <p>
                                                            <br>
                                                            <span class="wpcf7-form-control-wrap your-name">
                                                                <input id="empresa" type="text" name="empresa" size="40" class="input1" aria-required="true" aria-invalid="false" placeholder="Empresa*">
                                                            </span> 
                                                        </p>
                                                    </div>
                                                    <div class="quform-element">
                                                        <p>
                                                            <br>
                                                            <span class="wpcf7-form-control-wrap your-email">
                                                                <input id="email" type="text" name="email" size="40" class="input1" aria-required="true" aria-invalid="false" placeholder="E-mail*">
                                                            </span> 
                                                        </p>
                                                    </div>
                                                    <div class="quform-element">
                                                        <p>
                                                            <br>
                                                            <span class="wpcf7-form-control-wrap your-email">
                                                                <input id="telefone" type="text" name="telefone" size="40" class="input1" aria-required="true" aria-invalid="false" placeholder="Telefone*">
                                                            </span> 
                                                        </p>
                                                    </div>
                                                    <div class="quform-element">
                                                        <p>
                                                            <br>
                                                            <span class="wpcf7-form-control-wrap your-message">
                                                                <textarea  id="message" name="mensagem" cols="40" rows="10" class="input1" aria-invalid="false" placeholder="Sua mensagem*"></textarea>
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <p>
                                                        <!-- Begin Submit button -->
                                                        <div class="quform-submit">
                                                            <div class="quform-submit-inner">
                                                                <button type="submit" class="submit-button"><span>Enviar</span></button>
                                                            </div>
                                                            <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                                        </div>
                                                    </p>
                                                </div>
                                            </form>
                                        </div>
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </section>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="greennature-sidebar greennature-right-sidebar four columns">
                    <div class="greennature-item-start-content sidebar-right-item">
                        <div id="text-6" class="widget widget_text greennature-item greennature-widget">
                            <h3 class="greennature-widget-title">Trabalhe conosco</h3>
                            <div class="clear"></div>
                            <div class="textwidget">
                                Envie seu currículo para <br>
                                <a href="mailto:contato@bionatagro.com">contato@bionatagro.com</a>
                            </div>
                        </div>
                        <div id="text-7" class="widget widget_text greennature-item greennature-widget">
                            <h3 class="greennature-widget-title">Informações de contato</h3>
                            <div class="clear"></div>
                            <div class="textwidget">
                                <p>Rod. Assis Chateaubriand, s/n <br>
                                Km 144 + 500m Conj. 02 <br> 
                                Zona Rural - CEP 15400 000 <br>
                                Olímpia/SP</p>
                                <p><i class="greennature-icon fa fa-phone" style="vertical-align: middle; color: #444444; font-size: 16px; "></i>  +55 17 3279-4950</p>
                                <p><i class="greennature-icon fa fa-envelope" style="vertical-align: middle; color: #444444; font-size: 16px; "></i> contato@bionatagro.com</p>
                                <p><i class="greennature-icon fa fa-clock-o" style="vertical-align: middle; color: #444444; font-size: 16px; "></i> Segunda a sexta das 8:00 às 18:00</p>
                            </div>
                        </div>
                        <div id="text-8" class="widget widget_text greennature-item greennature-widget">
                            <h3 class="greennature-widget-title">Mídias Sociais</h3>
                            <div class="clear"></div>
                            <div class="textwidget"><a href="http://facebook.com/goodlayers"><i class="greennature-icon fa fa-facebook" style="vertical-align: middle; color: #444444; font-size: 28px; " ></i></a> <a href="http://twitter.com/goodlayers"><i class="greennature-icon fa fa-twitter" style="vertical-align: middle; color: #444444; font-size: 28px; " ></i></a> <a href="#"><i class="greennature-icon fa fa-dribbble" style="vertical-align: middle; color: #444444; font-size: 28px; " ></i></a> <a href="#"><i class="greennature-icon fa fa-pinterest" style="vertical-align: middle; color: #444444; font-size: 28px; " ></i></a> <a href="#"><i class="greennature-icon fa fa-google-plus" style="vertical-align: middle; color: #444444; font-size: 28px; " ></i></a> <a href="#"><i class="greennature-icon fa fa-instagram" style="vertical-align: middle; color: #444444; font-size: 28px; " ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- Below Sidebar Section-->
        <div class="below-sidebar-wrapper">
            <section id="content-section-3">
                <div class="greennature-parallax-wrapper greennature-background-image gdlr-show-all no-skin" id="greennature-parallax-wrapper-1" data-bgspeed="0.2" style="background-image: url('{{ baseImg() }}service-bg.jpg'); padding-top: 100px; padding-bottom: 50px; ">
                    <div class="container">
                        <div class="four columns">
                            <div class="greennature-box-with-icon-ux greennature-ux">
                                <div class="greennature-item greennature-box-with-icon-item pos-top type-circle">
                                    <div class="box-with-circle-icon" style="background-color: #5dc269"><i class="fa fa-envelope" style="color:#ffffff;"></i>
                                        <br>
                                    </div>
                                    <h4 class="box-with-icon-title">Contact By Email</h4>
                                    <div class="clear"></div>
                                    <div class="box-with-icon-caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="greennature-box-with-icon-ux greennature-ux">
                                <div class="greennature-item greennature-box-with-icon-item pos-top type-circle">
                                    <div class="box-with-circle-icon" style="background-color: #5dc269"><i class="fa fa-phone" style="color:#ffffff;"></i>
                                        <br>
                                    </div>
                                    <h4 class="box-with-icon-title">Contact By Phone</h4>
                                    <div class="clear"></div>
                                    <div class="box-with-icon-caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four columns">
                            <div class="greennature-box-with-icon-ux greennature-ux">
                                <div class="greennature-item greennature-box-with-icon-item pos-top type-circle">
                                    <div class="box-with-circle-icon" style="background-color: #5dc269"><i class="fa fa-home" style="color:#ffffff;"></i>
                                        <br>
                                    </div>
                                    <h4 class="box-with-icon-title">Come To See Us</h4>
                                    <div class="clear"></div>
                                    <div class="box-with-icon-caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
        </div>

    </div>
    <!-- greennature-content -->
    <div class="clear"></div>
</div>
<!-- content wrapper -->


{% endblock %}


{% block jsBottom %}
    {{ parent() }}
{% endblock %}