{% extends 'layout/default.twig' %}

{% block title %}
    {{ _title }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}


<div class="greennature-page-title-wrapper header-style-5-title-wrapper" style="background-image: url({{ baseImg() }}page-title-background.jpg)">
            <div class="greennature-page-title-overlay"></div>
            <div class="greennature-page-title-container container">
                <h1 class="greennature-page-title">MIP</h1>
                <span class="greennature-page-caption">Caption placed here</span>
            </div>
        </div>


<section id="content-section-1">
                        <div class="section-container container">
                            <div class="portfolio-item-wrapper type-classic-portfolio-no-space">
                                <div class="portfolio-item-holder greennature-item-no-space greennature-portfolio-column-4">
                                        <div class="text-wrapper" style="margin-bottom: 65px;">
                                            <h5 style="text-transform:uppercase;color:#5dc269;margin-bottom:35px;">Manejo integrado de pragas</h5>
                                            <p style="font-size: 18px;margin-bottom:35px;"> 
                                            O <b>MANEJO INTEGRADO DE PRAGAS</b> (MIP) é um conceito que foi instituído na década de 1960 pela comunidade científica, para a otimização do controle de pragas agrícolas (ácaros, insetos, doenças e plantas daninhas).
                                            O termo refere-se à integração de diferentes ferramentas de controle, tais como os produtos químicos, agentes biológicos(predadores, parasitoides e entomopatógenos – bactérias, fungos ou vírus), extratos de plantas, feromônios, variedades de plantas resistentes a pragas, manejo cultural, plantas iscas, liberação de machos estéreis (TIE), dentre outras.
                                            O emprego conjunto de todas essas ferramentas, de maneira planejada e em harmonia, é a base para solidez de um programa de MIP. </p>  


                                            <p style="font-size: 18px;margin-bottom:35px;">O manejo integrado de pragas e doenças é uma estratégia de controle múltiplo de infestações que se fundamenta no controle ecológico e nos fatores de mortalidade naturais procurando desenvolver táticas de controle que interfiram minimamente com esses fatores com o objetivo de diminuir as chances dos insetos ou doenças de se adaptarem a alguma prática defensiva em especial.</p>
                                            <p style="font-size: 18px;margin-bottom:35px;">Quando bem empregada, a técnica do Manejo Integrado de Pragas e Doenças (MIP) limita os efeitos potenciais prejudiciais dos pesticidas químicos à saúde pública e ao ambiente natural. </p>
                                            <p style="font-size: 18px;margin-bottom:35px;">O objetivo dessa estratégia não é o de eliminar os agentes, mas reduzir sua população de modo a permitir que seus inimigos naturais permaneçam na plantação agindo sobre suas presas favorecendo a volta do equilíbrio natural desfeito pela plantação e pelo uso de defensivos agrícolas. Dessa forma, requer o entendimento do sistema da plantação como um todo e o conhecimento das interelações ecológicas entre os insetos agressores, seus inimigos naturais e o ambiente onde está a plantação está inserida. </p>










                                        </div>
                                </div>
                            </div>
                    </div>
            </section>











{% endblock %}


{% block jsBottom %}
    {{ parent() }}
{% endblock %}